target/
pom.xml.*
.mvn/timing.properties
*.iml
.idea
.project
*/.classpath
*/.project
*/.settings
.settings/*
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
chromedriver*
.DS_Store
log.out
surefire*
*.png
*.pgp
out/
**/test-output/
# generated tests page objects
utam-compiler/src/test/java/generated/**
**/*.config.json
