<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Generator tests">
    <test name="grammar">
        <packages>
            <package name="utam.core.declarative.grammar"/>
        </packages>
    </test>
    <test name="helpers">
        <packages>
            <package name="utam.core.declarative.helpers"/>
        </packages>
    </test>
    <test name="representation">
        <packages>
            <package name="utam.core.declarative.representation"/>
        </packages>
    </test>
    <test name="translator">
        <packages>
            <package name="utam.core.declarative.translator"/>
        </packages>
    </test>
</suite>
